.columActua {
    height: 300px;
    width: 400px;
    text-align: justify;
    
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'calibri';
    color: black;
}

.butList{
    
    transform: translateX(25%) translateY(150%);
}