

.Home-header{
     background-image:  url('../img/fondo.jpg');
     background-size: 100% 100%;
     min-height: 100vmin;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: 10px + 2vmin;

     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

}

.Home-logo{
   width: 250px;
   padding: 20%;
   background: center;
   
}

.cuadro-header {
    height: 500px;
    width: 400px;
    
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    font-family: 'calibri';
    color: black;
}

.Home-button  {
    
    position: absolute;
    margin: 5px 160px;
    padding: 10px 20px;  
    
}
